<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.portal.module.sys.mapper.UserMapper">


    <resultMap id="userRoleMap" type="hashmap">
        <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>


    <select id="getRoleById" parameterType="java.lang.String" resultType="java.lang.String">
        select t1.code
        from t_sys_user_role t left join t_sys_role t1
        on t.role_id = t1.id
        where user_account=#{account}
    </select>

    <select id="getPermissionsById" parameterType="java.lang.String" resultType="java.lang.String">
        select m.permissions_code
        from t_sys_user_role ur left join t_sys_permissions mr
        on (ur.role_id = mr.permissions_id or ur.user_account = mr.permissions_id)
        left join t_sys_menu m on mr.menu_id = m.id
        where ur.user_account=#{account}
    </select>

    <select id="getUserRole" parameterType="java.lang.String" resultMap="userRoleMap">
        select
        user_account,role_id
        from t_sys_user_role
        where user_account=#{account}
    </select>

    <insert id="addUserRole" parameterType="java.util.Map">
        insert into t_sys_user_role(user_account, role_id) values
        <foreach collection="ids" item="id" index="index" separator=",">
            ( #{account}, #{id} )
        </foreach>
    </insert>

    <delete id="deleteUserRole" parameterType="java.lang.String">
        delete from t_sys_user_role
        where user_account=#{account}
    </delete>

</mapper>